
<header>
  <title>TinyApp</title>
    <style>
      body {background-color: powderblue;}
      ul, li {
        font-family: verdana, sans-serif;
        font-size: 110%;
      }
    </style>
  <% if (locals.user) { %>
    Welcome, <%= user.email %> !
    <form action="urls/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  <% } else { %>
      <a href="/register">Register</a>  <a href="/login">Login</a></form>
  <% } %>
</header>
