<header>
  <title>TinyApp</title>
  <% if (locals.user) { %>
    Welcome, <%= user.email %> !
    <form action="urls/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  <% } else { %>
      <a href="/register">Register</a>  <a href="/login">Login</a></form>
  <% } %>
</header>