
<% if (user_id in users) {%>
<p> Logged in using: <%= users[user_id].email %> </p>
<a href="/urls">My Links</a>
<form action="/logout?_method=delete" method="POST">
<input type="submit" name="Logout" value = Logout >
</form>
<%} else { %>
<a href="/register"> Register </a>
<p></p>
<a href="/login"> Login </a>
<% } %>

<hr>

