<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp: Show URLs</title>
</head>
<body>
  <header>
    <% include partials/_header %>
    </header>
    <ul>
        <li><%= "shortURL:" + " " + shortURL %></li>
        <form method="POST" action="/urls/<%=shortURL%>">
          <label for="longURL">Update URL: </label>
          <input id="longURL" type="text" name="longURL" placeholder="<%= link %>" style ="width:300px">
          <input type="submit" value="update">
        </form>
    </ul>
      <a href="/urls">Would you like your URL shortened?</a>
</body>
</html>





