<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <% include partials/_header %>
    <% if (!user_id) {%>
      <p> You need to be logged in to create a new short link </p>
    <% } else {%>
      <form action="/urls?_method=PUT" method="POST" style="margin:150px;">
        <label for="longURL">Enter a URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Submit">
      </form>
    <% }%>
  </body>
</html>